@section scripts
{
    <environment names="Development">
        <script src="~/js/views/home/index.js"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/js/views/home/index.min.js"></script>
    </environment>
}

<h2>@L("HelloWorld")!</h2>

<div class="row">
    <div class="col-lg-12">
        <a id="GetProductsButton" class="btn btn-primary" href="#">@L("GetProducts")!</a>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <ul id="ProductList"></ul>
    </div>
</div>
